@model RegisterViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Registration Form</h4>
    </div>
    <div class="panel-body">
        <form asp-controller="reg" asp-action="register" method="POST">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <div>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top:10px">
                <label asp-for="LastName" class="control-label"></label>
                <div>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top:10px">
                <label asp-for="Email" class="control-label"></label>
                <div>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top:10px">
                <button asp- class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>